body {
    font-family: 'Patrick Hand',sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-bottom: 3px solid black;
    background-color: #144375;
    color: white;
}
#time-date {
    font-size: 150%;
    font-weight: 700;
}


.row {
    width: 50%;
    display: inline-block;
    flex-direction: column;
    padding: 2%;
    
}
.table {
    width: 50%;
    display: inline-block;
}
.form-control {
    width: 400px;
}
th {
    width: 400px;
    padding: 2%;
}
#static-backdrop {
    border: 3px solid red;
}

.todo-form {
    display:block;
    padding: 2% 0;
}

.dropdown {
    display: block;
    padding: 3% 0;
    

}

