body {
    font-family: 'Patrick Hand',sans-serif;
    padding: 0;
    margin: 0;
    
    
}

nav {
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 150px;
    border-bottom: 3px solid black;
    background-color: #144375;
    color: white;
}


#time-date {
    font-size: 200%;
    font-weight: 700;
}


.row {
    width: 40%;
    display: inline-block;
    padding: 1%;
    margin-left: 6%;
    
}
.table {
    display: inline-block;
    width: 40%;
 
  
}

.table th {
    font-size: 150%;
}
.form-control {
    width: 400px;
}
th {
    width: 400px;
    padding: 2%;
}
#static-backdrop {
    border: 3px solid red;
}

.todo-form {
    display:block;
    padding: 2% 0;
}

.dropdown {
    display: block;
    padding: 3% 0;
    

}
#instruction {
    font-weight: 500;
}
.col-md-6 {
    margin: 0;
}
.info {
    margin: 0;
    font-size: 110%;
}
.col-md-6 li {
    font-weight: 600;
    font-style:italic;
    
}


